<%= link_to "Create new post" , new_post_path , class: "btn btn-info"%>
<div>
<% @posts.each do |post| %>
  <h1><%= link_to post.title, post_path(post.id) %></h1>
  <p>Author: <%= post.user.nickname %> | 
  	 Created at: <%= post.created_at %>
  </p>

  <p><%= post.body %></p> 
  <% if current_user != nil and current_user.id == post.user_id %>
    <h2><p><%= link_to "Edit", edit_post_path(post.id)%> or 
     <%= link_to "Delete", post_path(post.id), data: {confirm: 'Are you sure?'}, method: :delete %> </p></h2>
  <%end%>
<%end %>
</div>